* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.scroll-container {
    height: auto;
}

.scroll-sequence__content {
    width: 100%;
    height: 500vh;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.scroll-sequence {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -5;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Loader */

#desktop-loader {
    position: fixed;
    /* Fix the loader position on the screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    /* Semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Ensure the loader is above other elements */
    /* display: none; */
}

.loader-spinner {
    border: 4px solid #f3f3f3;
    /* Light gray border */
    border-top: 4px solid #3498db;
    /* Blue border on top */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    /* Spin animation */
}

/* Animation for the spinner */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header-wrap {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.header-wrap .header-subWrap {
    max-width: 1330px;
    height: auto;
    margin: 0 auto;
}

.header-wrap .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-wrap .navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    width: 100px;
    overflow: hidden;
    margin-right: 0;
}

.header-wrap .navbar .navbar-brand:hover {
    text-decoration: none;
}

.header-wrap .navbar .navbar-brand img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.header-wrap .navbar .nav-btns {
    display: block;
    align-items: center;
}

.header-wrap .navbar .navbar-nav {
    align-items: center;
    align-items: start;
    margin-top: 15px;
}

.header-wrap .navbar .nav-item {
    margin-right: 30px;
    margin-bottom: 0px;
}

.header-wrap .navbar .nav-item:last-child {
    margin-right: 0;
}

.header-wrap .navbar .nav-link {
    padding: 0;
    color: #05040c;
    font-size: 14px;
    font-family: 'SF Pro Text';
    font-weight: normal;
    position: relative;
}

.header-wrap .navbar .nav-link::before {
    transition: all 0.5s ease;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: #05040c;
}

.header-wrap .navbar .nav-link:hover {
    color: #05040c;
    text-decoration: none;
}

.header-wrap .navbar .nav-link:hover::before {
    transition: all 0.5s ease;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #05040c;
}

.header-wrap .navbar .nav-link.active {
    color: #05040c;
}

.header-wrap .navbar .nav-link.active::before {
    transition: all 0.5s ease;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #05040c;
}

.header-wrap .navbar .primary-button {
    margin-right: 20px;
}

.header-wrap .navbar .secondary-button {
    margin-right: 0;
}

.header-wrap .navbar .navbar-toggler {
    display: none;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 25px;
    height: 24px;
}

.header-wrap .navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
    width: 0;
}

.header-wrap .navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(1) {
    position: absolute;
    right: 0;
    top: 10px;
    transition: all 0.5s ease;
    transform: rotate(135deg);
}

.header-wrap .navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(3) {
    position: absolute;
    right: 0;
    top: 10px;
    transition: all 0.5s ease;
    transform: rotate(225deg);
}

.header-wrap .navbar .navbar-toggler .navbar-toggler-icon {
    transition: all 0.2s ease;
    background-image: none;
    width: 25px;
    height: auto;
    padding-bottom: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}

.header-wrap .navbar .navbar-toggler .navbar-toggler-icon:last-child {
    margin-bottom: 0;
}

.primary-button {
    color: #05040c;
    font-size: 13px;
    font-family: 'SF Pro Text';
    font-weight: normal;
    border-radius: 30px;
    min-width: 115px;
    height: 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #efeef1;
    text-decoration: none;
    transition: all 0.3s ease;
}

.primary-button:hover {
    color: #fff;
    background-color: #6d6df6;
    text-decoration: none;
}

.secondary-button {
    font-size: 13px;
    font-family: 'SF Pro Text';
    font-weight: normal;
    color: #fff;
    border-radius: 30px;
    min-width: 115px;
    height: 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #6d6df6;
    text-decoration: none;
    transition: all 0.3s ease;
}

.secondary-button:hover {
    color: #05040c;
    background-color: #efeef1;
    text-decoration: none;
}
